@model Dating.Models.Person

@{
    ViewBag.Title = "Your profile";
}

<h2>Info about you</h2>

@*<form method="post" >
    <label for="firstName">Name of the person you might know</label>
    <input type="text" id="firstName" placeholder="Search People" name="searchString" />
    <input type="submit"
    onclick="location.href='@Url.Action("SearchedPeople", "People")'" />
</form>*@


@*<div class="topnav">
    <input type="text" name = "searchString" placeholder="Search People">
    <input type="button"
           value="Submit"
           onclick="location.href='@Url.Action("SearchedPeople", "People")'" />
</div>*@

<form action="SearchedPeople" method="POST">
    <input type="text" name="searchString" />
    <input type="submit" value="Search People" />
</form>

@*<input type="button" value="Create" onclick="location.href='@Url.Action("SearchedPeople", "People")'" />*@

<div>
    <h4></h4>
    <hr />
    <dl class="dl-horizontal">
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.ApplicationId)
        @Html.HiddenFor(model => model.Matches)

        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Zipcode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Zipcode)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("See possible matches", "Matches") |
    @Html.ActionLink("Chat", "SignalRChatAPI") |
    @Html.ActionLink("Edit", "Edit") |
    @Html.ActionLink("Delete Account", "Delete")

</p>
