@model IEnumerable<Dating.Models.Person>


@{
    ViewBag.Title = "Matches";
}

<h2>List of the folks whom meet your criteria</h2>

<div>
    <dl class="dl-horizontal">
        @*@Html.HiddenFor(model => model.ApplicationId)
        @Html.HiddenFor(model => model.Location)
        @Html.HiddenFor(model => model.FirstName)
        @Html.HiddenFor(model => model.LastName)*@
    </dl>

        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.FirstName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LastName)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>

            <td>
                @Html.ActionLink("Bio", "PersonBio") |
            </td>
        </tr>
            }

        </table>
</div>

