@model IEnumerable<Dating.ViewModels.PeopleViewModels>
@using Dating.Models

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Person.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Person.LastName)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.Identify.Age)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Identify.Personality)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Identify.Race)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Identify.Gender)
        </th>*@
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <th>
        @Html.DisplayFor(modelItem => item.Person.FirstName)
    </th>
    <th>
        @Html.DisplayFor(modelItem => item.Person.LastName)
    </th>
    @*<th>
        @Html.DisplayFor(modelItem => item.Identify.Age)
    </th>
    <th>
        @Html.DisplayFor(modelItem => item.Identify.Personality)
    </th>
    <th>
        @Html.DisplayFor(modelItem => item.Identify.Race)
    </th>
    <th>
        @Html.DisplayFor(modelItem => item.Identify.Gender)
    </th>*@


    <td>
        @*@Html.ActionLink("Edit", "Edit", new { id = item.Id }) |*@
        @Html.ActionLink("Back to ", "Details") |
        @*@Html.ActionLink("Delete", "Delete", new { id = item.Id })*@
    </td>
</tr>
}

</table>
